*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}
.container{
    width: 90%;
    max-width:1200px;
    margin:0 auto;
    padding: 20px;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
header h1{
    font-size: 2.5rem;
}
main{
    padding: 20px 0;
}
section{
    margin-bottom: 30px;
}
h2{
    font-size: 2rem;
    margin-bottom: 15px;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin-bottom: 10px;
}
.slack-profile{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.slack-profile img{
    margin-right: 15px;
    max-width: 100%;
}
#contact{
    margin: 0 auto;
    text-align: center;
}
.contact-container{
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-left: 6rem;
}
.otherPart{
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}




 /* Mobile Styles (max-width: 480px) */
 @media only screen and (max-width: 480px) {
    .container {
       margin: 20px auto;
       padding: 10px;
       max-width: 1200px;
       width: 90%;
     }
     *{
        margin: 0;
        border: 0;
        box-sizing: border-box;
     }
     header {
       padding: 10px;
     }
     footer {
       padding: 10px;
       display: none;
     }
     .contact-container{
         padding: 1rem;
     }
     .slack-profile{
         display: block;
         align-items: start;
     }

    }
  
  /* Tablet Styles (min-width: 481px and max-width: 768px) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
   .container {
      margin: 30px auto;
      padding: 20px;
    }
    header {
      padding: 20px;
    }
    main > * {
      flex-basis: 50%;
      margin: 20px;
    }
    footer {
      padding: 20px;
    }
    .contact-container{
        display: grid;
    }
  }
